Olá, <strong>{{ order.deliveryman.name }}</strong>
<p>A encomenda cadastrada <strong>{{ order.product }}</strong>, foi cancelada devido ao seguinte problema:</p>
<hr />
<p>
  <strong>{{ problem.description }}</strong>
</p>
<hr />
